<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
<link href="{{ "css/map.css" | relURL }}" rel="stylesheet">

<div class="container-fluid map-container">
<div class="map-controls">
<button id="zoom-in" class="map-btn" title="Zoom In">+</button>
<button id="zoom-out" class="map-btn" title="Zoom Out">-</button>
<button id="zoom-reset" class="map-btn" title="Reset">Reset</button>
</div>
<div id="map-wrapper">
<div id="map-content">
<img src="{{ "img/map/world.svg" | relURL }}" alt="World Map" id="world-map">
<div id="pins-container"></div>
</div>
</div>
</div>

<script src="https://unpkg.com/@panzoom/panzoom@4.5.1/dist/panzoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
<script src="{{ "js/map.js" | relURL }}"></script>
